body
	background-color: white
	color: #270069
	font-weight: 600
	font-size: 14px

p
	margin: 0

.main
	width: 440px
	margin: 0 auto
	margin-top: 25px

.flex_block
	display: flex
	justify-content: space-between
	align-items: center

.small_text
	color: #beb8d3
	font-size: 12px